html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: block;
  position: relative;
  font-family: 'Rubik', sans-serif;
  background-color: #f8f8fd;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#error-help > p {
  color: red;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) forwards;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.sidebar {
  background-color: #015792;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: inset 0 0 10px #00233a;
  display: inline-block;
  position: fixed;
  align-items: center;
  text-align: center;
  top: 0;
  left: 0;
  height: 100vh;
}

.router-link:hover {
  text-decoration: none;
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: block;
  height: 100%;
}

#top-bar {
  position: fixed;
  top: 10px;
  left: 0;
  padding-left: 15vw;
  width: 100vw;
  height: 30px;
}

#project-icon-top {
  max-height: 50%;
  display: inline-block;
}

.projectmanager-true {
  background-color: #f0f0f0b9;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectmanager-body {
  border-radius: 10px;
  background-color: #fff;
  padding: 30px;
}

.home-body {
  background-color: #f0f0f0b9;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-body-selector {
  display: inline-block;
  height: 10vh;
  justify-content: center;
  align-items: center;
  margin: 2vh;
  transition: transform 250ms ease-in-out;
}

.home-body-selector:hover {
  transform: scale(1.1);
}

.home-body-selector > img,
p {
  max-height: 75%;
  margin: 0.5vh;
}

.home-body-selector > p {
  align-items: center;
  text-align: center;
  margin: 0.5vh;
}

.projectmanager-false {
  display: none;
}

#logo {
  right: 0;
  padding-right: 3vw;
  position: absolute;
  max-height: 100%;
}

#project-switch {
  display: inline-block;
  max-width: 100%;
  padding-right: 5px;
  height: 45px;
  transition: 250ms ease-in-out;
  border-radius: 5px;
}

#project-switch:hover {
  transform: scale(1.05);
  border: 2px solid #015792;
}

#project-switch a {
  display: inline-block;
  max-width: 100%;
  padding: 0;
  margin: 0;
  height: 30px;
}

#project-title-top {
  display: inline-block;
  margin-left: 10px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 0;
}

/* form {
  text-align: left;
  max-width: 500px;
  margin: 10px auto;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  position: relative;
}

form.div {
  display: flex;
  flex-flow: row nowrap;
  line-height: 2em;
  margin: 5px;
  position: relative;
}

input {
  flex: 1;
  padding: 0px 0px;
  font-size: 1em;
  margin-left: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  line-height: 20px
} */

label {
  color: #333;
  width: 200px;
  min-width: 60px;
  font-size: 1em;
  line-height: 20px;
}

textarea {
  flex: 1;
  padding: 3px 5px;
  font-size: 1em;
  margin-left: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

Error {
  display: flex;
  padding: 3px 5px;
  font-weight: bold;
  color: #800;
  flex-flow: row nowrap;
  justify-content: center;
}

#topbar {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: transparent;
  color: #015792;
}

.nav-links {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#home-container {
  margin-left: 20vw;
  top: 10vh;
  width: 70%;
  height: 75vh;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  position: relative;
}

.input-hidden {
  opacity: 0;
  width: 0;
  height: 0;
}

input[type='radio'] + label {
  display: inline-block;
  width: auto;
  cursor: pointer;
}

input[type='radio'] + label > img {
  padding: 5px;
  width: 150px;
  opacity: 0.6;
  transition: 500ms all;
}

input[type='radio']:checked + label > img {
  box-shadow: 0 0 3px 3px #015792;
  border-radius: 5px;
  opacity: 1;
}

#output-type-option {
  position: relative;
}

#output-type {
  display: inline-block;
  background-color: #dadbe1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 40px;
  padding: 0;
}

.input-type {
  display: inline-block;
  background-color: rgb(245, 245, 245);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
  box-shadow: inset 0 0 10px #b8b8b8;
}

#input-type-classification {
  top: 0px;
}

#input-type-regression {
  top: 0px;
}

input[type='radio'] + label > p {
  padding: 5px;
  opacity: 0.8;
}

input[type='radio']:checked + label > p {
  background: #015792;
  box-shadow: 0 0 3px 3px #02365860;
  border-radius: 5px;
  opacity: 1;
  color: #fff;
}

#project-type-descriptions {
  margin-top: 10px;
  /* padding:20px; */
}

.data-selector {
  text-align: left;
  align-items: center;
}

.data-uploader {
  text-align: center;
  align-items: center;
  padding: 30px;
  margin-top: 10px;
  margin-bottom: 30px;
  border: 1px;
  border-radius: 10px;
  border-style: dashed;
}

.data-uploader > form {
  text-align: center;
  align-items: center;
}

.data-uploader > form > input {
  display: inline-block;
  align-items: center;
  text-align: center;
}

.mode-selector {
  text-align: center;
  align-items: center;
}

#mode-selector-switch {
  display: inline-block;
  background-color: #dadbe1;
  border-radius: 10px;
  height: 40px;
  padding: 0;
}

#mode-selector-option {
  display: inline-block;
}

.mode-selector-icon {
  max-height: 20vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.model-attr {
  margin-top: 20px;
}
.models-description {
  color: '#4a4a4a';
  font-weight: 300;
  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.compare-action {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.text-compare {
  color: #005791;
}

.btn-compared {
  background-color: #005791;
  border-radius: 5px;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  padding-left: 30px;
  padding-right: 30px;
}

.btn-compare-inactive {
  background-color: #95b8d2;
  border-radius: 5px;
  height: 35px;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  padding-left: 30px;
  padding-right: 30px;
}

.green-font {
  color: green;
  font-size: 38px;
  font-family: 'Lato', sans-serif;
}

.yellow-font {
  color: #ffd300;
  font-size: 38px;
  font-family: 'Lato', sans-serif;
}
.red-font {
  color: red;
  font-size: 38px;
  font-family: 'Lato', sans-serif;
}

.btn-detail {
  background: #005791;
  border-radius: 3px;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  padding-left: 30px;
  padding-right: 30px;
}

.card {
  background-color: white;
}

.card-title {
  color: #4a4a4a;
  font-size: 18px;
}

.card-body {
  color: #4a4a4a;
}

.model-index {
  color: #3077a5;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  padding: 10px;
  text-align: center;
}

#models-container {
  margin-left: 20vw;
  top: 10vh;
  width: 70%;
  height: 100vh;
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  padding: 20px;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.11); */
  position: relative;
}

#training-container {
  height: 100vh;
  margin-left: 15vw;
  margin-right: 15vw;
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  padding: 40px;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.11); */
  position: relative;
}

.menu-list {
  margin-top: 80px;
  text-align: center;
  margin-bottom: 40px;
  position: relative;
}
.menu {
  margin-top: 0px;
  border: 1px #272953;
  background-color: #005791;
}
.menu-item {
  color: #4a4a4a;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  background-color: #005791;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 30px;
  margin-right: 30px;
  color: white;
  border-radius: 13px;
}
.menu-index {
  border-radius: 50%;
  color: white;
  height: 25px;
  width: 25px;
  background-color: #3077a5;
  display: inline-block;
  text-align: center;
}

.analytics {
  margin: 0 60px 0 60px;
}

.menu-top ul li {
  display: inline;
}

.menu-top ul li a {
  text-decoration: none;
  color: #4a4a4a;
  font-weight: bold;
  padding: 10px 30px 10px 30px;
  margin: 0 30px 0 30px;
  border-radius: 10px;
}

.btn-yellow {
  background-color: #f5a623;
  margin: 10px 10px 10px 10px;
  border-radius: 3px;
  color: white;
  border-width: 0;
}

.btn-white {
  background-color: white;
  padding: 5px 10px 5px 10px;
  margin: 10px 10px 10px 10px;
  border-radius: 3px;
  color: #f5a623;
  border: 1px solid #f5a623;
}

.card-analytics {
  background-color: white;
  border-radius: 4px;
}

.analytics-summary {
  margin: 10px 2px 10px 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.analytics-summary-second {
  margin: 20px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.training-time {
  width: 33%;
}

.training-tips {
  width: 60%;
}

.label-metrics {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: #9b9b9b;
  text-align: left;
}

.value-metrics {
  font-size: 28px;
  font-family: 'Lato', sans-serif;
  color: #4a4a4a;
  text-align: center;
}

.header-label {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  color: #4a4a4a;
  text-align: left;
}

.card-tips {
  background-color: white;
}

.card-text-performance {
  text-align: center;
}
.card-text-performance ul li {
  list-style: none;
  color: #4a4a4a;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.card-parameter {
  background-color: white;
  margin-top: 20px;
  width: 100%;
  justify-content: space-between;
}
.card-parameter-items {
  justify-content: flex-start;
}

.card-parameter-item {
  margin: 5px;
}

.card-title-parameter {
  color: #4a4a4a;
  font-size: 18px;
  padding-bottom: 20px;
}

.card-tips {
  background-color: white;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup_inner {
  position: absolute;
  padding: 40px;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  width: 400px;
  height: 250px;
  border-radius: 10px;
  background-color: white;
}

.compared-model-header {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

table {
  background-color: white;
  padding: 20px;
  border: 0.5px solid #ebebeb;
  border-radius: 4px;
}

#comparison-models th {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

#comparison-models tr {
  padding-top: 40px;
  height: 50px;
  padding-bottom: 40px;
  text-align: center;
}
#comparison-models tr:nth-child(even) {
  background-color: #f3f8fc;
}

#comparison-models th {
  border: 0.5px solid #ebebeb;
}
#comparison-models td:nth-child(1) {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  border-right: 0.5px solid #ebebeb;
}

#comparison-models td:nth-child(2) {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 0.5px solid #ebebeb;
}
#comparison-models td:nth-child(3) {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.table-header {
  color: #005791;
}

.accuracy-chart {
  padding: 20px 20px 20px 20px;
  background-color: white;
  margin: 2px;
}

.card-network-architecture {
  background-color: white;
}

.white-card {
  background-color: white;
}

.metrics-training {
  width: 48%;
}

.metrics-validation {
  width: 48%;
}

.metrics-test {
  width: 30%;
}
#prediction {
  border-right: 0.5px solid #ebebeb;
  text-align: center;
}

#prediction th {
  padding: 20px;
  border: 0.5px solid #ebebeb;
}

#prediction tr {
  padding: 10px;
  border: 0.5px solid #ebebeb;
}

#prediction td {
  padding: 10px;
  border: 0.5px solid #ebebeb;
}

.render-table {
  margin-left: auto;
  margin-right: auto;
}

.card-drop-file {
  background-color: white;
  padding: 50px 100px 50px 100px;
  margin: 100px 200px 0px 200px;
  border-radius: 3px;
  cursor: pointer;
}
